{% extends "base.html.twig" %}

{% block title %} - select Questions{% endblock %}
{% block head %}
    <link href="/assets/css/selectQuestions.css" rel="stylesheet">
    <script src="/assets/js/selectQuestions.js"></script>
{% endblock %}
{% block onload %}
    initSelectQuestions();
{% endblock %}
{% block subtitle %}
    Auswahl Fragen
{% endblock %}
{% block contentleft %}
    <div id="jsDataCategories" data-content="{{ jsData }}" hidden="hidden"></div>
    <div class="row p-2 m-2">
        <div class="col-lg-1 align-items-right text-right">
            <div class="form-check form-switch align-items-middle">
                <input class="form-check-input" type="checkbox" role="switch" id="categoryAll" checked>
                <label class="form-check-label" for="categoryAll"></label>
            </div>
        </div>
        <div class="col-lg-2 text-start">
            <p>Select / Unselect All</p>
        </div>
        <div class="col-lg-6 text-center">
            <p> Category </p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2 text-start">
            <p>Fragen in Category</p>
        </div>
    </div>
    {% for category in categories %}
        <div class="row  p-2 m-2">
            <div class="col-lg-1 align-items-right">
                <div class="form-check form-switch align-middle">
                    <label class="form-check-label" for="categorySwitch{{ category.id }}">
                        <input type="hidden" id="maxQuestions{{ category.id }}" value="{{ category.number }}">
                        <input class="categories form-check-input" id="categorySwitch{{ category.id }}"
                               name="categories[]" type="checkbox" role="switch" value="{{ category.id }}"
                               checked>
                    </label>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-7 bg-info rounded-3 text-left">
                {{ category.text }}
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 bg-info rounded-3 text-end">
                <p><span id="numberOfQuestions{{ category.id }}">{{ category.number }} </span> / {{ category.number }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block contentright %}
    <div class="row text-black p-2 m-2">
        <p>all questions: <span id="maxQuestionsAll"></span></p>
        <p>questions in selected categories: <span id="maxQuestionsSelected"></span></p>
    </div>
    <div class="row text-black p-2 m-2">
        <label for="currentVal"> enter number of questions to select: </label><input type="number" id="currentVal"
                                                                                    name="range" value="0">
    </div>
    <div class="row text-black p-2 m-2">
        <label>Prefer not yet asked and answered wrong questions:
            <input type="checkbox" name="prefered" id="choosePrefered" value="1">
        </label>
    </div>

    <div class="row text-black p-2 m-2" id="alternativeOptionCheckBox">
        <label>
            select ordered questions in category
            <input type="checkbox" name="chooseAlt" id="chooseAlternativeOption">
        </label>
    </div>
    <div class="row text-black p-2 m-2" id="alternativeOption">
        <label>
            <input class="alternativeOptionInput" type="number" name="startQuestion" id="startQuestion" placeholder="from question">
        </label>
        <label>
            <input class="alternativeOptionInput" type="number" name="endQuestion" id="endQuestion" placeholder="to question">
        </label>

    </div>

    <div class="row text-black p-2 m-2">
        <button type="button" class="btn-lg btn-primary" id="selectConfirmButton">Confirm choice</button>
    </div>


    <div class="row text-black p-2 m-2"></div>
    <div class="row text-black p-2 m-2">
        <a href="/index">
            <label style="width: 100%" class="btn-lg btn-primary">back</label>
        </a>
    </div>
{% endblock %}
{% block buttons %}

{% endblock %}
